/* 글씨체 불러오기 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 전체 글씨체 설정 */
body {
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', Malgun Gothic, dotum, '돋음', arial, sans-serif;
}

.logo {
    text-align: left;
}

.wrapper {
    width: 100%;
    background-color: white;
}

.menu {
    /* text-align: center; */
    text-align: right;
    border: 1px solid rgb(224, 224, 224);
    padding: 20px;
}

.menulink {
    margin-left: 30px;
    display: inline-block;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

/* 푸터 시작 */
.foo_div {
    color: white;
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 180px;
    position: absolute;
    bottom: 0;
}

.company {
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 900;
    margin-top: 15px;
}

.mg_l {
    margin-left: 30px;
}

.about {
    color: black;
    margin-top: 10px;
}

/* .git_logo{
    padding-top: 10px;
} */

.git_group {
    text-align: left;

}

.team {
    color: rgb(85, 85, 85);
    margin-top: 12px;
}

.git_name {
    color: rgb(85, 85, 85);
}