/*테두리*/
.infolist{
    /* width: 1200px;
    height: 800px; */
    border: 1px solid gray;
    padding: 30px;
}
.infocard {
    /* margin-left: 100px; */
    height: 200px;
    width: 300px;
    display: inline-block;
    border:2px solid rgb(228, 228, 228);
    border-radius:20px 5px 20px 5px;
    margin: 30px;
}

/*테두리에 그림자*/
.infocard:hover {
    box-shadow: 3px 3px 2px #aaa;
    border: 2px solid rgb(120, 179, 33);
}

.info{
    margin: 25px;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: dimgray;
}

.link:hover{
    background-color: antiquewhite;
}
button{
    background-color: white;
    margin: 5px;
    padding: 5px;
}