/* 글씨체 불러오기 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', Malgun Gothic, dotum, '돋음', arial, sans-serif;
}

.container {
    width: 100%;
    height: auto;
    margin-top: 1px;
}

.image_box {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}

.image {
    width: 60%;
    height: 300px;
    overflow: hidden;
}

.text {
    font-style: italic;
    font-size: 23px;
}

.mg-t {
    margin-top: 10px;
}

.mg-t- {
    margin-top: 30px;
}

.link_btn {
    border: 1px solid green;
    background-color: none;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: green;
    margin-bottom: 50px;
}

.btn_box {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.need_help {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 80px;
    width: 100%;
    flex-direction: column;
}

.nh_title {
    border-bottom: 2px solid lightgray;
    color: gray;
    width: 85%;
    font-size: 20px;
    padding-bottom: 8px;
    padding-left: 3px;
}

.help_info {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.help_num {
    width: 10%;
    text-align: center;
}

.help_address {
    width: 70%;
    text-align: center;
}

.help_state {
    width: 20%;
    text-align: center;
}