{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <ul class="menu">
                    <!-- <a href="#">
                        <img alt="logo" src="img/logo.jpg" width="100px" height="100px">
                    </a> -->
                    <li class="menulink" ><a href="#">홈</a></li>
                    <li class="menulink" ><a href="#">로그인</a></li>
                    <li class="menulink" ><a href="#">로그아웃</a></li>
                    <li class="menulink" ><a  href="#">회원가입</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="foo_div">
            <div class="company">
                <span>(주)아름컴퍼니</span>
            </div>
            <div class="git_group">
                <!-- <span>
                    <img class="git_logo" src=img/git.png width="50px" height="50px">
                </span> -->
                <a class="git_name" href="https://github.com/wwan13">김태완</a>
                <a class="git_name" href="https://github.com/mseo39">강민서</a>
                <a class="git_name" href="#">정영훈</a>
                <a class="git_name" href="https://github.com/qhahd78">하유민</a>
            </div>
        </div>
    </footer>
</body>

</html>