{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">
</head>

<body>
    <!-- <header>
        <div class="wrapper">
            <nav>
                <ul class="menu">
                    
                    <li class="menulink"><a href="{% url '' %}">홈</a></li>
                    <li class="menulink"><a href="{% url 'login' %}">로그인</a></li>
                    <li class="menulink"><a href="#">로그아웃</a></li>
                    <li class="menulink"><a href="{% url 'signup' %}">회원가입</a></li>
                </ul>
            </nav>
        </div>
    </header> -->
    <div class="header">
        <a class="logo" href="{% url '' %}">
            <img class="logo__image" src="{% static 'image/logo.png' %}" alt="logo.png">
        </a>

        <div class="header__right">
            {% if user.is_authenticated %}
            <div class="user_text">{{user}} 봉사자님</div>
            <a href="{% url 'logout' %}" class="user_text">로그아웃</a>
            {% else %}
            <a href="{% url 'login' %}" class="user_text">로그인</a>
            <a href="{% url 'signup' %}" class="user_text">회원가입</a>
            {% endif %}
        </div>


    </div>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="foo_div">
            <div class="company mg_l">
                <span>(주)아름컴퍼니</span>
            </div>
            <div class="about mg_l">
                아름은 두 팔을 벌려 껴안은 둘레라는 순우리말로 <br>
                도움이 필요한 장애인 분들이 긴급한 순간 언제든지 이용하실 수 있도록 <br>
                도와드리는 웹 서비스 입니다.
            </div>
            <div class="team mg_l">Our Team</div>
            <div class="git_group mg_l">
                <!-- <span>
                    <img class="git_logo" src=img/git.png width="50px" height="50px">
                </span> -->
                <a class="git_name" href="https://github.com/wwan13">김태완</a>
                <a class="git_name" href="https://github.com/mseo39">강민서</a>
                <a class="git_name" href="#">정영훈</a>
                <a class="git_name" href="https://github.com/qhahd78">하유민</a>
            </div>
        </div>
    </footer>
</body>

</html>