{% extends "base.html" %}
{%load static%}
{% block title %}main{% endblock %}

{% block link %}
{% static 'css/main.css' %}
{% endblock  %}

{% block content %}

<div class="container">
    <div class="image_box">
        <img class="image" src="{% static 'image/main.jpg' %}" alt="main.jpg">
        <div class="text mg-t-">아름 : 두 팔을 벌려 껴안은 둘레</div>
        <div class="text mg-t">#자원봉사 #봉사 #장애인 #마음</div>
    </div>

    <div class="btn_box">
        <a class="link_btn" href="{% url 'signup' %}">
            <div>아름과 함께하기</div>
        </a>
    </div>

    <div class="need_help">

        <div class="nh_title">오늘의 아름</div>
        {% for list in lists %}
        <div class="help_info">
            <div class="help_num">{{list.id}}</div>
            <div class="help_address">{{list.address}}</div>
            <a class="help_state" href="{% url 'get_connect' list.id %}">{{list.state}}</a>
        </div>
        {% endfor %}
    </div>

</div>



{% endblock %}