{% extends "base.html" %}
{%load static%}
{% block title %}장애인 디테일{% endblock %}

{% block link %}
{%'css/main_detail.css' %}
{% endblock  %}

{% block content %}
    <div class="title_class">
        <h1>장애인 정보</h1>
    </div>
    
    <div class="card-list">
        <div class="itemssss">
            <img class="disabled_pic" alt="disabled" src="img/example.jpg" height="182px" width="182px"> <br>
        </div>
        <div class="text-group">
            <div class="main_detail_item">      
                <span class="name_bold">이름</span>
                <span class="item">하유민</span>
            </div>  
            <div class="main_detail_item">      
                <span class="name_bold">성별</span>
                <span class="item">여자</span>
            </div> 
            <div class="main_detail_item">      
                <span class="name_bold">나이</span>
                <span class="item">21세</span>
            </div> 
            <div class="main_detail_item">      
                <span class="name_bold">보유한 장애 종류</span>
                <span class="item">ㅇㅇ장애</span>
            </div> 
            <div class="main_detail_item">      
                <span class="name_bold">주소</span>
                <span class="item">천안시 어쩌고 저쩌고 오엔시티 호텔</span>
            </div> 
        </div>   
    </div>
    {% endblock %}